<% @layout_name = 'landing' %>
<div class="landing">
  <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Drider</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#tf-home" class="page-scroll">Наверх</a></li>
            <li><a href="#tf-about" class="page-scroll">Чому</a></li>
            <li><a href="#tf-team" class="page-scroll">Як</a></li>
            <li><a href="#tf-services" class="page-scroll">Водію</a></li>
            <li><a href="#tf-clients" class="page-scroll">Пасажиру</a></li>
            <li><a href="#city-map" class="page-scroll">Мара</a></li>
            <li><a href="#tf-testimonials" class="page-scroll">Контакт</a></li>
            <% if current_user %>
              <a class="navbar-brand" href="/">
                <img alt="Avatar" src="<%= current_user.image_url %>" />
              </a>
            <% else %>
            <li><a href="<%= new_user_session_path %>" class="page-scroll">Вхід</a></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Home Page
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
                <h1><strong><span class="color">Drider</span></strong> вітає вас</h1>
                <p class="lead">Ми спільнота де я <strong>підвезу</strong> і мене <strong>підвезуть</strong></p>
              <div class="container" style="max-width: 400px;">
                <%= form_tag car_searches_path, method: 'POST', id:'landing_search_from' do %>
                  <input type="hidden"  name="car_search[from]" class="hidden" value="49.8419071, 24.0315675"/>
                  <input type="hidden"  name="car_search[time]" value="<%= (Time.now + 1.hour).beginning_of_minute %>"/>
                  <div class="input-group" style="opacity: 0.6;">
                  <input class="form-control address" type="text" placeholder="вулиця, дім" name="car_search[to]"/>
                  <span class="input-group-btn">
                          <button type="submit" class="btn btn-default" type="button">Шукати водія</button>
                        </span>
                  </div>
                <% end %>
                <div class="text-left" style="margin-top: 24px;">
                  <% if 'ios' != session[:client] %>
                    <%= link_to android_download_path, class: 'download' do %>
                      <%= image_tag 'icons/android1.png' %>
                    <% end %>
                  <% end %>
                  <a href="https://itunes.apple.com/ua/app/drider/id1101420670?ls=1&mt=8" style="float: right;display:inline-block;overflow:hidden;background:url(<%= image_path 'icons/badge_appstore-lrg.svg' %>) no-repeat;width:165px;height:40px;"></a>
                </div>
              </div>
                <a href="#tf-about" class="fa fa-angle-down page-scroll"></a>
            </div>
        </div>
    </div>

    <!-- About Us Page
    ==========================================-->
    <div id="tf-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="<%= image_path('landing/car.jpg') %>" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h4></h4>
                            <h2><strong>Підвезти</strong> та бути <strong>підвезеним</strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <p class="intro">Ми спільнота де я подорожуючи авто по свому звичайному маршруту підвожу інших
                        </p>
                      <p class="intro">
                        Ми спільнота де мене підвозять якщо нам по дорозі
                      </p>
                        <ul class="about-list">
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong></strong> <em>їдучи разом ми робимо дороги вільнішими</em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong></strong> <em>нам цікаво спілкуватися в дорозі</em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong></strong> <em>ми розділяємо витрати на дорогу</em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Team Page
    ==========================================-->
    <div id="tf-team" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2><strong>Я теж хочу</strong>, що для цього потрібно?</h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
              <div>
                <h3>Потрібно:</h3>
                <ul class="about-list">
                  <li>
                    1. Бути зареєстрованим на фейсбуці
                  </li>
                  <li>
                    <% if 'ios' == session[:client]  %>
                      2. Мати iOS пристрий із GPS
                    <% else %>
                    2. Мати iOS/андроїд пристрий із GPS
                    <% end %>
                  </li>
                  <li>
                    3. Мати мобільний інтернет
                  </li>
                </ul>
              </div>

            </div>
        </div>
    </div>


  <!-- About Us Page
  ==========================================-->
  <div id="tf-services">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <img src="<%= image_url('landing/driver.jpg') %>" class="img-responsive">
              </div>
              <div class="col-md-6">
                  <div class="about-text">
                      <div class="section-title">
                          <h4>Водію</h4>
                          <h2><strong>3</strong> простих кроки</h2>
                          <hr>
                          <div class="clearfix"></div>
                      </div>
                      <ul class="about-list">
                          <li>
                              <span class="fa fa-dot-circle-o"></span>
                              <strong></strong> <em><a href="/users/sign_in">Зареєструватися</a> в спільноті</em>
                          </li>
                          <li>
                              <span class="fa fa-dot-circle-o"></span>
                              <strong></strong> <em>Встановити
                            <% if 'ios' != session[:client] %>
                            <a href="<%= android_download_path %>">додаток</a>
                              <% end %>
                            на мобільний</em>
                          </li>
                          <li>
                              <span class="fa fa-dot-circle-o"></span>
                              <strong></strong> <em>Подорожуючи авто звичайним маршрутом підключайте мобільний до живлення</em>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>


    <!-- Clients Section
    ==========================================-->
    <div id="tf-clients" class="text-center">
        <div class="overlay">
            <div class="container">

                <div class="section-title center">
                    <h2><strong>Пасажиру</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
              <div class="row">
                  <div class="col-md-6">
                      <img src="<%= image_path('landing/passenger.jpg') %>" class="img-responsive">
                  </div>
                  <div class="col-md-6">
                      <div class="about-text">
                          <ul class="about-list">
                              <li>
                                  <span class="fa fa-dot-circle-o"></span>
                                  <strong></strong> <em><a href="/users/sign_in">Зареєструватися</a> в спільноті</em>
                              </li>
                              <li>
                                  <span class="fa fa-dot-circle-o"></span>
                                  <strong></strong> <em>Знайти водія який буде їхати потрібним маршрутом</em>
                              </li>
                              <li>
                                  <span class="fa fa-dot-circle-o"></span>
                                  <strong></strong> <em>Домовитись за поїздку</em>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>

            </div>
        </div>
    </div>

    <!-- Portfolio Section
    ==========================================-->
    <div id="city-map">
        <div class="container"> <!-- Container -->
            <div class="section-title text-center center">
                <h2><strong>Мапа</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em></em></small>
            </div>


          <div id="map-canvas"></div>
            <div class="space"></div>
          <% active_stats = CarRoute.active_stats %>
          <h3 style="
              text-align: left;
              /* margin-left: 68px; */
          ">Активних маршрутів <span class="label label-default"> <%= active_stats['routes_count'] %></span></h3>
          <h3 style="
                        text-align: left;
          ">Водіїв <span class="label label-default"> <%= active_stats['users_count'] %></span></h3>
        </div>
    </div>

    <!-- Testimonials Section
    ==========================================-->
    <div id="tf-testimonials" class="text-center">
        <div class="overlay">
            <div class="container">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">

                      <div class="section-title center">
                          <h2><strong>Звертайтесь</strong> по всім питанням</h2>
                          <div class="line">
                              <hr>
                          </div>
                          <div class="clearfix"></div>
                          <small><em></em></small>
                      </div>

                      <%= form_tag mail_path do %>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="exampleInputEmail1">Email адреса</label>
                                      <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                  </div>
                              </div>
                              <div class="col-md-6">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="exampleInputEmail1">Повідомлення</label>
                              <textarea class="form-control" rows="3" name="body"></textarea>
                          </div>

                          <button type="submit" class="btn tf-btn btn-default">Надіслати</button>
                      <% end %>
                    <a target="_blank" class="btn btn-success" href="http://2rba.com/c/development/drider">Форум розробки</a>

                  </div>
              </div>

            </div>
        </div>
    </div>


    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p></p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="https://www.facebook.com/drider.io"><i class="fa fa-facebook"></i></a></li>
                    <!--<li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'v1T1guFcDb';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="js/jquery.1.11.1.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script type="text/javascript" src="js/bootstrap.js"></script>-->
    <!--<script type="text/javascript" src="js/SmoothScroll.js"></script>-->
    <!--<script type="text/javascript" src="js/jquery.isotope.js"></script>-->

    <!--<script src="js/owl.carousel.js"></script>-->

    <!-- Javascripts
    ================================================== -->
    <!--<script type="text/javascript" src="js/main.js"></script>-->
