<p id="notice"><%= notice %></p>

<h1>Listing Car Requests</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Scheduled to</th>
      <th>Driver</th>
      <th>Passenger</th>
      <th>From m</th>
      <th>To m</th>
      <th>From title</th>
      <th>To title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @car_requests.each do |car_request| %>
      <tr>
        <td><%= car_request.status %></td>
        <td><%= car_request.scheduled_to %></td>
        <td><%= car_request.driver_id %></td>
        <td><%= car_request.passenger_id %></td>
        <td><%= car_request.from_m %></td>
        <td><%= car_request.to_m %></td>
        <td><%= car_request.from_title %></td>
        <td><%= car_request.to_title %></td>
        <td><%= link_to 'Show', car_request %></td>
        <td><%= link_to 'Edit', edit_car_request_path(car_request) %></td>
        <td><%= link_to 'Destroy', car_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car request', new_car_request_path %>
