<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @car_request.status %>
</p>

<p>
  <strong>Scheduled to:</strong>
  <%= @car_request.scheduled_to %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @car_request.driver_id %>
</p>

<p>
  <strong>Passenger:</strong>
  <%= @car_request.passenger_id %>
</p>

<p>
  <strong>From m:</strong>
  <%= @car_request.from_m %>
</p>

<p>
  <strong>To m:</strong>
  <%= @car_request.to_m %>
</p>

<p>
  <strong>From title:</strong>
  <%= @car_request.from_title %>
</p>

<p>
  <strong>To title:</strong>
  <%= @car_request.to_title %>
</p>

<%= link_to 'Edit', edit_car_request_path(@car_request) %> |
<%= link_to 'Back', car_requests_path %>
