<p id="notice"><%= notice %></p>

<h1>Listing Car Searches</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Scheduled to</th>
      <th>From title</th>
      <th>To title</th>
      <th>From m</th>
      <th>To m</th>
      <th>Pinned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @car_searches.each do |car_search| %>
      <tr>
        <td><%= car_search.user %></td>
        <td><%= car_search.from_title %></td>
        <td><%= car_search.to_title %></td>
        <td><%= car_search.from_m %></td>
        <td><%= car_search.to_m %></td>
        <td><%= car_search.pinned %></td>
        <td><%= link_to 'Show', car_search %></td>
        <td><%= link_to 'Destroy', car_search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car search', new_car_search_path %>
